---
import PostCategories from "@/components/blog/PostCategories.astro";
import Layout from "@/layouts/Layout.astro";
import { PostSchema } from "@/types";

    export const prerender = false;


    const {slug} = Astro.params
    const url = `${import.meta.env.API_URL}/posts?slug=${slug}`
    
    const res = await fetch(url)
    const json = await res.json()

    // safeParse sirve para validar que la respuesta del back no venga vacia y nos de un error 404
    const post = PostSchema.safeParse(json[0])
    if(!post.success) return Astro.redirect('/404')
    const { title, featured_images, date, category_details, content } = post.data
---

<Layout
    title={title.rendered}
    subtitle={title.rendered}
    bgImage={featured_images.full.url}
>
    <article class="space-y-5 max-w-4xl mx-auto">
        <p>
            Escrito el: <span class="text-coffe-600"> {new Date(date).toLocaleDateString('es-ES', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            })} </span>
        </p>

        {category_details.map(cat => <PostCategories name={cat.name} slug={cat.slug} />)}

        <img src={featured_images.full.url} alt={title.rendered} width={featured_images.full.width} height={featured_images.full.height} class="w-full ">

        <div set:html={content.rendered} class="text-lg space-y-3"></div>
    </article>

</Layout>
